*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.model-wrapper3{
    position: fixed;
    background-color:rgba(189 189 189 0.9);
   
    top:0;
    left:0;
    right:0;
    bottom:0;
  
    
    
   

}

.odi{
   
    position: fixed;
    display: flex;
    flex-direction:column ;
    
    
    background: white;
    width: 20%;
    border: 1px solid gray;
  
    
  
     top:64%;
    left:20%;
    transform: translate(-50%,-50%); 
    border-radius: 5px 5px 5px 5px;
    padding: 15px 15px 15px 15px;


   

   
}


.in1{
    background:
    #D6FFD5 ;
    padding: 10px 30px 10px 30px;
    border: none;
   

}
.out1{
    background:
    #FFCACA;
    padding: 10px 30px 10px 30px;
    border: none;
   
}