/* * {
  margin: 0px;
  padding: 0px;
}
.main {
  margin: 40px 40px 0px 40px;
}
.first {
  display: flex;
  justify-content: space-between;
  background: gray;
  width: 50%; 
}
.detail {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background: gray; 
}
/* .all, th, td{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    } 

.bill p,
.ship p {
  font-size: 10px;
}

.nam2 {
  margin-top: 0px;
}
.grand .tb,
th,
td {
  font-size: 12px;
  text-align: center;
}

/*  .uall,td,th{
        text-align: center;

        
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 30px;
            padding-right: 40px;
          }  
.terms {
  margin-top: 20px;
}
.terms h5,
li {
  font-size: 10px;
}

/* .bank table{
            /* display: flex;
            text-align: left; 

.mid {
  width: 50%;
  margin: 10px 10px 0px 10px;
}

.down {
  display: flex;
  justify-content: space-between;
}
.right {
  display: flex;
  justify-content: space-between;

  /* width: 50vw; 
}
/* .right .uend{
            display: flex;
            justify-content: space-between;
            gap: 10px;
          } */

/* align-items: center; 

.signature .sign {
  font-size: 10px;
}

.authorized .trends,
.authorized .autho {
  font-size: 10px;
}
.authorized input {
  height: 100%;
}
.signature {
  margin-top: 20px;
}

.signature input {
  height: 140%;
}
.authorized .autho {
  text-align: right;
}
.uend {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 50%;
}
.share {
    background: 
    #F1F1F1;
    height: 20px;
    width: 40px;
    
} */


* {
  margin: 0px;
  padding: 0px;
}










.main{
  display: flex;
  height: 100vh;
}

.mid{
  flex: 1;
    background: grey;

}
.uend{
  flex: 1;
    background:#FFFFFF;
    display: flex;
    justify-content: space-around;
      flex-direction: row;
      align-items: center;
      /* justify-content: flex-start ; */

      gap: 10px;


}

button{
  margin-left: 20px;
  padding:  10px;
  width: 120%;
  text-align: center;
  border-radius: 5px;
  border: none;
}
.btn_more{
  margin-right: 10px;
  background: 
  #011135;
  color: white;
  font-family: 
 " Public Sans";
 font-size: 18px;
  

}
.btn_share{
  background:#F1F1F1 ;
  font-family: 
 " Public Sans";
 font-size: 18px;

}

/* signaure Box */
/* .signature-box {
  border: 2px solid #FFFFFF;
  width: 160px;
  height: 75px;
  position: relative;
}

.signature {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: crosshair;
}

.instructions {
  margin-top: 10px;
  font-size: 14px;
  
} */


